<web-app>
    <filter>
        <filter-name>Jersey Web Application</filter-name>
        <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>app.AppResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.servlet.filter.staticContentRegex</param-name>
            <param-value>^/assets/.*$</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Jersey Web Application</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>

