<web-app>
  <filter>
     <filter-name>Jersey Web Application</filter-name>
     <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
     <!--
     <init-param>
         <param-name>com.sun.jersey.config.property.packages</param-name>
         <param-value>app</param-value>
     </init-param>
     -->
     <init-param>
         <param-name>javax.ws.rs.Application</param-name>
         <param-value>app.AppResourceConfig</param-value>
     </init-param>
     <init-param>
         <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
         <param-value>^/(index\.html)?$</param-value>
     </init-param>
   </filter>
   <filter-mapping>
     <filter-name>Jersey Web Application</filter-name>
     <url-pattern>/*</url-pattern>
   </filter-mapping>
  <!--
  <listener>
    <listener-class>app.servlet.GuiceConfig</listener-class>
  </listener>
  <filter>
    <filter-name>GuiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
</web-app>
